In [1]:
from pathlib import Path
import pandas as pd
import tarfile
import urllib.request
import matplotlib.pyplot as plt

In [3]:
data_adress = "~/Documents/ML/practice/"
pa

# def load_data():

In [6]:
data2.head()

                                                text  likes  comments  shares
0  Taiwan dispatched coast guard boats to join a ...      3         1       1
1  Croatia's historic city of Dubrovnik aims to l...     11         5       1
2  As Senegal holds a delayed election on March 2...      5         4       2
3  Exclusive: Citigroup is investigating workplac...      4         6       0
4  Research in the expanding field of space medic...     15         6       2